<!DOCTYPE html>
<html>
  <head>
    <meta content='multipart/mixed; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
 <%= simple_format(@email.body, {}, sanitize: false)%>
     </p>
    	
      <%#=@email.body.html_safe %>
    </p>
  </body>
</html>