<!DOCTYPE html>
<html>
  <head>
    <meta content='multipart/mixed; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	
      <%=@email.body.html_safe %>
    </p>
  </body>
</html>