<!DOCTYPE html>
<html>
  <head>
    <meta content='multipart/mixed; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	
      <%=sanitize @email.body%>
    </p>
  </body>
</html>